@model Bumbo.Models.AccountController.LoginModel


@{
    ViewData["Title"] = "Log in";
}

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="images/bumbo.png"
                     class="img-fluid" alt="Bumbo logo">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="login" method="post">

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label asp-for="EmailAddress"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <label asp-for="Password"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" value="Login" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Inloggen
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>