@{
    ViewData["Title"] = "Geen rechten";
}



<div class="errorpage border border-1 border-dark rounded rounded-3">

    <div class="errorpagemsg">
        <div>
            <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">
                <img src="~/images/bumbo.png" class="img-fluid" alt="Bumbo logo" />
            </a>
        </div>
        <h2>Onvoldoende rechten</h2>
        <br />
        <p>Je voldoet niet aan juiste rechten om deze pagina te bekijken. Check dat je juist bent ingelogd.</p>
        <br />
        <p>Ga naar de <a asp-area="" asp-controller="Account" asp-action="Login">de thuispagina</a> pagina en probeer het opnieuw.</p>
        <br />
        <p>Is dit een fout? Neem dan contact op met de helpdesk.</p>
     
    </div>
</div>