@{
    ViewData["Title"] = "Geen rechten";
}

<h1 class="text-center">Je hebt niet de juiste rechten om deze pagina te bekijken.</h1>

<h3 class="text-center">Ben je wel ingelogd?</h3>

<br />

<h4 class="text-center">Is dit een fout? Neem contact op met de helpdesk. </h4>