@{
    ViewData["Title"] = "Oeps!";
}

<h1 class="text-danger text-center">De pagina kon niet gevonden worden!</h1>
<h3 class="text-center">Check of je de juiste link hebt gebruikt. <Br /> </h3>
<h4 class="text-center">Is dit een fout? Neem dan contact op met de helpdesk.</h4>

<br />

