@{
    ViewData["Title"] = "Oeps!";
}

<h1 class="text-danger text-center">De pagina kon niet gevonden worden!</h1>
<p class="text-center text-large">Check of je de juiste link hebt gebruikt. <Br /> </p>
<p class="text-center text-large">Als je gelooft dat dit een fout is, neem dan contact op met de helpdesk.</p>

<br />
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

