@using Bumbo.Models.EmployeeManager.Common
@model EditPasswordViewModel

<h1 class="text-center">Wachtwoord voor @Model.FullName wijzigen</h1>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Oeps!</strong> De veranderingen konden niet opgeslagen worden vanwege invalide data. Probeer alstublieft opnieuw.
    </div>
}

<div class="container ">
    <div>
        <form asp-action="ChangePassword" id="ChangePasswordForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.EmployeeKey" />
            <div class="row">
                <div class="col border border-3 border-dark employee-create-box">
                    <div class="p-3">
                        <h5>Wachtwoord</h5>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input for="password-validation" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div id="password-message">
                                <h3>Wachtwoord moet het volgende bevatten:</h3>
                                <p id="password-capital" class="password-invalid"><b>1 Hoofdletter</b></p>
                                <p id="password-number" class="password-invalid"><b>1 Nummer</b></p>
                                <p id="password-length" class="password-invalid"><b>6 tekens</b></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <input type="submit" value="Veranderingen Opslaan!" form="ChangePasswordForm" class="btn btn-success btn-lg" />
</div>
<div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <a class="btn btn-danger btn-sm" asp-action="Index">Ga terug naar lijst zonder opslaan</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
