@using Bumbo.Models.EmployeeManager.Common
@model EditPasswordViewModel
@{
    ViewBag.data = "Employee";
}

<h1 class="text-center">Wachtwoord wijzigen voor </h1>
   <h2 class="text-center"> '@Model.FullName'</h2>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Oeps!</strong> De veranderingen konden niet opgeslagen worden vanwege invalide data. Probeer alstublieft opnieuw.
    </div>
}

<div class="container w-50">
    <div>
        <form asp-action="ChangePassword" id="ChangePasswordForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.EmployeeKey" />
            <div class="row">
                <div class="col border border-1 border-dark text-center rounded rounded-3 grey">
                    <div class="p-3">
                        <div class="form-group row d-flex justify-content-center">
                            <label asp-for="Password" class="control-label"></label>
                            <input for="password-validation" asp-for="Password" class="form-control w-50" autocomplete="new-password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                            <div id="password-message">
                                <p>Wachtwoord moet minstens voldoen aan deze vereisten:</p>
                                <p id="password-capital" class="password-invalid"><b>1 Hoofdletter</b></p> 
                                <p id="password-number" class="password-invalid"><b>1 Nummer</b></p>
                                <p id="password-length" class="password-invalid"><b>6 tekens</b></p>
                            </div>
                        </div>
                        <div class="form-group row d-flex justify-content-center">
                            <label asp-for="ConfirmPassword" class="control-label"></label>
                            <input asp-for="ConfirmPassword" class="form-control  w-50" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <input type="submit" value="Veranderingen Opslaan!" form="ChangePasswordForm" class="btn btn-success btn-lg" />
</div>
<div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <a class="btn btn-danger btn-sm" asp-action="Index">Ga terug naar lijst zonder opslaan</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
