@using Bumbo.Utils
@using BumboData.Enums
@using BumboServices.Surcharges.SurchargeRules
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Bumbo.Models.ExportManager.ImportViewModel

@{
    ViewData["Title"] = "Importeren";
}

<div class="container d-flex justify-content-center text-center">
    <div class="card col-md-10 col-lg-8 col-xl-6">
        <div class="card-header">
            <h1 class="text-center my-2">Importeren</h1>
            <p class="text-center">Importeer medewerkers of klok events bestanden vanaf brightspace. Het is niet verplicht beide bestanden tegelijkertijd te uploaden.</p>
        </div>

        <div class="card-body m-0 p-0 d-flex justify-content-center text-center">
            <form class="w-100" asp-action="Import" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <label for="employees" class="fw-bold" asp-for="ImportEmployees"></label><br/>
                    <input class="form-control-file" asp-for="ImportEmployees" id="employees"/><br/>
                    <span asp-validation-for="ImportEmployees" class="text-danger"></span>
                </div>
                <hr class="flex-fill"/>
                <div class="form-group mt-3">
                    <label for="clock-events" class="fw-bold" asp-for="ImportClockEvents"></label><br/>
                    <input class="form-control-file" asp-for="ImportClockEvents" id="clock-events"/><br/>
                    <span asp-validation-for="ImportClockEvents" class="text-danger"></span>
                </div>
                <div class="form-group mt-3 d-inline-block" style="width: fit-content">
                    <div class="form-check">
                        <input asp-for="ImportAsPlanned" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked value="@false">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Importeren als gewerkte diensten.
                        </label>
                    </div>
                    <div class="form-check">
                        <input asp-for="ImportAsPlanned" class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="@true">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Importeren als geplande diensten.
                        </label>
                    </div>
                </div>
                <hr class="flex-fill"/>
                <input class="btn btn-primary my-3" type="submit" value="Importeren"/>
            </form>
        </div>
    </div>
</div>