<div class="modal fade" id="setBranchActive" tabindex="-1" aria-labelledby="filiaalactief" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Filiaal actief zetten</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="SetActive" id="ActiveForm">
                    <h2 id="modalTextActive">Wilt u actief zetten?</h2>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ga terug zonder opslaan</button>
                <input type="submit" value="Opslaan" form="ActiveForm" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>

<script>
    function setActiveClick(id, name) {
        $('#setBranchActive').modal('show');
        var paragraph = document.getElementById("modalTextActive");
        paragraph.textContent = "Wilt u " + name + " op actief zetten?";
        console.log(paragraph.textContent)
        var form = document.getElementById("ActiveForm");
        form.action += "/" + id;
    }
</script>