@using Bumbo.Models.BranchController
@model BranchCreateViewModel

@{
    ViewData["Title"] = "Maak branch actief";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger text-center" role="alert">
        <strong>Oeps!</strong> De veranderingen konden niet opgeslagen worden vanwege invalide data. Probeer alstublieft opnieuw.
    </div>
}

<div class="container ">
    <div>
        <form asp-action="SetActive" id="ActiveForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(model => model.Id)
            <div class="row">
                <div class="col border border-3 border-dark employee-create-box">
                    <div class="p-3">
                        <h1 class="text-center">Weet u zeker dat u @Model.Name actief wilt stellen?</h1>
                        <div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
                            <input type="submit" value="Zet branch op actief" form="ActiveForm" class="btn btn-danger btn-lg" />
                        </div>
                        <div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
                            <a class="btn btn-success btn-lg" asp-action="Index">Ga terug naar lijst zonder inactief te stellen</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }