@model Bumbo.Models.UnavailableMoments.UnavailableMomentCreateViewModel
@using BumboData.Enums
@{
    ViewData["Title"] = "Afwezigheid toevoegen";
}
<head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">




</head>

<body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>



<h1 class="text-center">Afwezigheid toevoegen</h1>


<p class="text-center alert-danger">@Html.ValidationMessage("Invalid Moment")</p>




<div class="container">
    <div >
        <form asp-action="Create" id="CreateForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col border border-3 border-dark moments-create-box">
                    <div class="col">
                        <div class="row p-1">
                            
                            <div class="form-group text-center">
                                <span>Van:</span>
                                    <input id="startdate" onchange="onDateChange(true)" asp-for="StartDate" class="form-control" asp-format="{0:yyyy-MM-dd}" />

                                    <input id="timepicker-end" class="timepicker-start timepicker form-control" asp-for="StartHour" />

                                <span asp-validation-for="StartDate" class="text-danger"></span>
                                <span asp-validation-for="StartHour" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center">
                                <span>Tot:</span>
                                    <input id="enddate" onchange="onDateChange(false)" asp-for="EndDate" class="form-control " />

                                    <input asp-for="EndHour" class="form-control timepicker-end timepicker" />


                                <span asp-validation-for="EndDate" class="text-danger"></span>
                                <span asp-validation-for="EndHour" class="text-danger"></span>
                            </div>

                            <div class="form-group text-center">
                                <h5>Reden van afwezigheid:</h5>
                                
                                <tr>
                                    @Html.RadioButtonFor(model => model.Type, UnavailableMomentType.School)School
                                    @Html.RadioButtonFor(model => model.Type, UnavailableMomentType.Other)Anders
                                </tr>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    

        $('.timepicker-start').timepicker({
            timeFormat: 'HH:mm p',
            interval: 30,
            minTime: '1',
            maxTime: '23',
            defaultTime: '8',
            startTime: '1',
            dynamic: false,
            dropdown: true,
            scrollbar: true,
        });

        $('.timepicker-end').timepicker({
            timeFormat: 'HH:mm p',
            interval: 30,
            minTime: '1',
            maxTime: '23',
            defaultTime: '8',
            startTime: '1',
            dynamic: false,
            dropdown: true,
            scrollbar: true,

        });


        

            function onDateChange(isFirst) {
            if(isFirst){
                var selectedDate = document.getElementById('startdate').value
                getTimes(selectedDate, isFirst);
            }else{
                var selectedDate = document.getElementById('enddate').value
                getTimes(selectedDate, isFirst);
            }
        }

        function getTimes(date, isFirst) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetOpenTime", "UnavailableMoments")',
                data: {
                    dateInput: date
                },
                success: function (data) {

                        if(isFirst){
                            //handle the data
                            let opentimestart = data.open;
                            let closetimestart = data.close;
                            $('.timepicker-start').timepicker('option', 'minTime', opentimestart);
                            $('.timepicker-start').timepicker('option', 'maxTime', closetimestart);
                        }else{
                            //handle the data
                            let opentimestart = data.open;
                            let closetimestart = data.close;
                            $('.timepicker-end').timepicker('option', 'minTime', opentimestart);
                            $('.timepicker-end').timepicker('option', 'maxTime', closetimestart);
                        }
                       
                    }
                });

        }

        window.onload = function () {
            onDateChange(true);
            onDateChange(false);
        };


</script>


<div class="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <input type="submit" value="Voeg toe!" form="CreateForm" class="btn btn-success btn-lg" />
</div>

<div class ="form-group h-100 d-flex align-items-center justify-content-center p-3">
    <a class="btn btn-danger btn-sm" asp-action="Index">Ga terug naar lijst zonder opslaan</a>
</div>


    </body>