html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


.top-header {
    background-color: lightgray;
    height: 100px;
}

.top-header-content {
    margin: 10px;
}


.employee-create-box {
    background-color: grey;
    padding: 20px;
}

    .employee-create-box input {
        padding: 10px;
    }


input[type="search"] {
    border: 3px;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 3px solid transparent;
    border-radius: 2px;
}

.search-bar {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
}

.prognosis-textarea input {
    width: 150px;
    text-align: center;
    display: block;
    margin: 0 auto;
}

.prognosis-textarea td div input[type=number] {
    -moz-appearance: textfield;
}

.top-date-header {
    background-color: lightgray;
    width: 100%;
    height: 50px;
    margin-left: -10px;
    margin-right: 10px;
}

    .top-date-header div a {
        color: inherit;
        text-decoration: none;
    }


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}




/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.date-display {
    border-right: solid;
    border-width: 1px;
    border-color: black;
}

/* In the employee roster page, the department and reason are highlighted*/
.employee-roster-box-dep {
    background-color: aqua;
    padding: 5px;
    border: 1px solid blue;
    border-radius: 25px;
    width: fit-content;
}

.employee-roster-box-reason {
    background-color: #F0E68C;
    padding: 5px;
    border: 1px solid yellow;
    border-radius: 25px;
    width: fit-content;
}

.employee-roster-box-time {
    margin-left: 30px;
}

@media only screen and (max-width: 800px) {
    .employee-roster-box-time {
        margin-left: 15px;
    }
}

@media only screen and (min-width: 800px) {
    .employee-roster-box {
        width: 800px;
    }
}

.employee-roster-box-shift {
    background-color: #E8E8E8;
}





.selected {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.hidden {
    visibility: hidden;
}

.active {
    background-color: #666;
    border-radius: 25px;
}

    .active a {
        color: white !important;
    }


.logo-nav {
    height: 50px;
    width: auto;
}

.today {
    height: 25px;
    width: 25px;
    border: solid;
    border-color: black;
    border-radius: 50%;
    display: inline-block;
}

.export-screen-input-field {
    background-color: lightgray;
    border-radius: 4px;
    border: black 1px;
}

p {
    margin-bottom: 0;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}
/*Rooster manager*/

.roster-table-employee-cell {
    width: 50px;
    height: 45px;
}


/*This is the top header row which contains the time collumns*/
.roster-table-header-cell {
    background-color: grey !important;
    white-space: nowrap;
    font-size: 14px;
}

.roster-body {
    width: 100%;
}

.roster-table-row {
    height: 20px;
}

.roster-table-cell {
    height: 45px;
    border: 1px solid darkgrey;
    min-width: 50px !important;
    padding: 0px !important;
   
}

.roster-table {
    background-color: dimgray;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* Cells that are within closing time */
.roster-table-cell-closed {
    margin: 10px !important;
    outline: solid;
    outline-color: darkgrey;
    outline-width: 1px;
    background-color: #D3D3D3 !important;

}

/* Div which is the planned shift in the roster*/
.roster-shift {
    position: absolute;
    top: 0px;
    z-index: 1001;
    /*background color of a planned shift div*/
    background: linear-gradient(to bottom right, #99ccff, #e6f2ff);
    border: 1px solid darkslategrey;
}

/* Prevents planned shift div going everywhere */
.roster-shift-containter {
    position: relative;
}


.roster-table-addbtn {
    background: linear-gradient(to bottom right, mediumspringgreen, springgreen);
}



/*Rooster overview */
.roster-overview-iteminfo {
    font-size: 11px;
}

.roster-overview-box {
    height: 140px;
    min-width: 140px;
}

.roster-item-container:hover {
    filter: brightness(80%);
}

.roster-overview-date {
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

.roster-overview-today {
    border-bottom: 3px solid blue !important;
    margin: 0px !important;
    width: 100%;
}

.roster-overview-cao {
    outline: 5px solid red;
}

.roster-overview-warning {
    display: none;
}

.roster-overview-loading {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

/*.roster-overview-SufficientRostering {*/
/*    border: 5px solid;*/
/*    background: linear-gradient(to bottom right, mediumspringgreen, springgreen) !important;*/
/*    border-image: linear-gradient(45deg, #568203, #018749) 1 !important;*/
/*}*/

/*.roster-overview-InsufficientRostering {*/
/*    border: 5px solid;*/
/*    background: linear-gradient(to bottom right, yellow, #FFD700) !important;*/
/*    border-image: linear-gradient(45deg, #e6c300, #ccad00) 1 !important;*/
/*}*/

/*.roster-overview-box {*/
/*    border: 5px solid;*/
/*    border-image: linear-gradient(45deg, #888888, #909090) 1;*/
/*    background: linear-gradient(to bottom right, #C0C0C0, #C8C8C8);*/
/*}*/

.helpmenu {
    display: none;
}

.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

.grey {
    background-color: #e8e8e8;
}

.green {
    background: rgba(144, 238, 144, 0.9);
}

.red {
    background-color: red;
}

/* Wachtwoord validatie*/
/* The message box is shown when the user clicks on the password field */
#password-message {
    display: block;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

/* Add a green text color and a checkmark when the requirements are right */
.password-valid {
    color: green;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.password-invalid {
    color: red;
}


/*Unavailable moments overview*/

.moments-row {
    background-color: #F5F5F5;
}

.moments-collumn{
    width: 30%;
}

.moments-create-box {
    background-color: #F5F5F5;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 500px;
}

.text-large {
    font-size: 19px;
}

.review-status-box {
    width: 40%;
}

/*For mobile we make the tooltip for the review status easier to click. */
@media only screen and (max-width: 780px) {
    .review-status-box {
        width: 100%;
    }
}


body.swal2-shown > [aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

.ui-timepicker-container{
    z-index:3000 !important;
}

.white-fade-bottom {
    background-image: linear-gradient(white, white, white, transparent);
}

.week-legenda {
    display: none;
}

@media (min-width: 1400px) {
    .seven-cols .col-xl-2 {
        width: 14.28%; /* 100 / 7 */
    }
    .week-legenda {
        display: flex;
    }
}